[2020-09-09 17:06] sfc-gh-cmendonca opened #2 "Can't find project or library error"
Hi - while trying to install the add-in, I receive the "Can't find project or library error" in relation to this library: Dim mdConnections As New Scripting.Dictionary.

Please see attached image.
<img width="675" alt="Excel Add-in 1" src="https://user-images.githubusercontent.com/71029297/92630094-2e742a00-f2c7-11ea-87c9-fdaf8570a813.png">
<img width="1562" alt="Snowflake Add-in 2" src="https://u

[2020-09-09 20:00] #2 closed, assigned to nobody

[2020-09-09 20:20] crwarman opened #3 "Video demo"
Just checking if you have posted a video of the Excelerator demo.  I'd like to share it with some of my customers.

Craig Warman
- Snowflake SE

[2020-10-07 22:41] BiToolkits opened #4 "snowflake excelerator error"
I installed snowflake excelerator add-in on Excel 365 (32bit). I have the 32bit Snowflake ODBC (v2.22) installed as well.
When try to connect to Snowflake, I receive the curl error code 3, "url using bad/illegal format or missing URL" oscode 9, "Bad file descriptor".
I am using Windows 10 Ent edition.
Any help is appreciated

[2020-10-08 04:27] ssegal100 commented on #4
Would you send me the server url that you used? Please blank out some characters for security.
I haven't seen this before, but let's start with the server url.

[2020-10-08 15:56] BiToolkits commented on #4
Thank you for the quick reply. Below is the url:
https://pxxxe.xxx.aws.snowflakecomputing.com

[2020-10-08 19:06] ssegal100 commented on #4
You're welcome.
Would you try it without 'https://'?
Have you been able to test the ODBC connection separately?

[2020-10-14 17:14] BiToolkits commented on #4
I apologize for the late respoinse.
The 'https://' is auto moved by Excelerator.
The SnowSQL works with 64bit ODBC driver. How do I test the 32bit ODBC driver? I don't find a SnowSQL 32bit.

[2020-10-14 19:52] ssegal100 commented on #4
I'm not sure the best way to test it. You can make sure its there by opening the 32 bit ODBC Manager and go to the Drivers tab and see if SnowflakeDSIIDriver is there, shown in the attachment.
If it's there, maybe we can do a Zoom call and I can take a look.
![ODBC Manager](https://user-images.githubusercontent.com/13276366/96038347-9d93ef80-0e2c-11eb-9f72-76497ee5eb7e.png)

[2020-11-07 17:17] #3 closed

[2020-11-30 14:14] DaisukeOtaka opened #5 ""SSL peer certificate or SSH remote key was not OK" error occurred"
Hi,

I've tried to use the Excelerator Add-in today, but when I connect to snowflake server, following error occurred. Does anybody have an idea how to resolve following error?
![image](https://user-images.githubusercontent.com/6836771/100619930-23c6af80-3361-11eb-92cc-906f70aab2e3.png)

OS: Windows10 Pro
Excel: Office 2016 (64bit)
ODBC Driver: snowflake64_odbc-2.22.2.msi

Best Regards,

[2020-11-30 15:41] sfc-gh-gmullen commented on #5
This is usually because your network appliance is trying to inspect the encrypted traffic. Work with your network team and make sure you you added the SELECT$WHITELIST() endpoints to your list of allowed exceptions on your network appliance or firewall.

[2020-12-01 01:56] DaisukeOtaka commented on #5
Thank you for your reply.

I'm working from home now, and I don't configure any special settings on my router. There is no issue with snowcd and snowsql, so it looks like no network access issue for the endpoints.

[code]
SnowCD (Connectivity Diagnostic Tool) — Snowflake Documentation
https://docs.snowflake.com/en/user-guide/snowcd.html

*I also tried it with the firewall off but the result was th

[2020-12-01 15:36] ssegal100 commented on #5
I'm looking into other possibilities, but would you double check that your Excel is actually 64bit. I haven't seen a 64 bit version even though the OS is.
Also, are you connecting through a VPN?

[2020-12-02 02:16] DaisukeOtaka commented on #5
My Excel is looks like 64bit, but I will also try with 32bit snowflake odbc driver.
![image](https://user-images.githubusercontent.com/6836771/100818673-f592be00-348d-11eb-942d-815c5d3d234a.png)
![image](https://user-images.githubusercontent.com/6836771/100818953-86699980-348e-11eb-9769-2710d6d78643.png)

In addition, I'm connected to the internet directly without VPN. I will try with another netw

[2020-12-02 02:30] DaisukeOtaka commented on #5
I uninstalled the 64bit odbc driver and tried to install the 32bit odbc driver. Then I got an error saying that the driver could not be found, so my Excel seems to be correct with 64bit.
![image](https://user-images.githubusercontent.com/6836771/100820244-288a8100-3491-11eb-84e4-876f7d560f28.png)

I also tried this, but the result did not change.

[2020-12-04 23:33] Upendran29 commented on #5
Hello All,

I'm facing the same problem with the code error 400.  I'm using windows 64 bit machine

![image](https://user-images.githubusercontent.com/60202286/101225260-9d5ae800-3656-11eb-8a0e-e4fa3ded85f3.png)

[2020-12-04 23:39] sara0529 commented on #5
Hi All,

I'm facing the same issue.  I'm currently using 64 bit windows 10 pro and I have no restriction at snowflake firewall layer for my IP.  But still I'm getting code error 400 and I cannot successfully connect.

Note - I select SSO authentication and submit the connect request, automatic browser page is opening (as expected) and validating my connection with myOkta.  However, connection is U

[2020-12-06 00:03] ssegal100 commented on #5
Sorry for the delay on these issues.
@DaisukeOtaka It does look like you have the correct driver.
@sara0529 Would you please check if Excel is 64bit?

Do you guys know how to find the ODBC log files? Would you post them here?
Thanks.

[2020-12-06 18:30] sara0529 commented on #5
Hi Segal,

I'm yet to check the MS version for the machine which is facing issue.  However, I've tried connecting using 64-bit it is working.  Please let me know what is the software prerequisite to use excelerator from windows 10 64 bit machine.

![image](https://user-images.githubusercontent.com/75507953/101288863-7a4b4800-37be-11eb-8bb1-d27e332ff7d8.png)

[2020-12-06 19:23] ssegal100 commented on #5
@sara0529
Sorry, but it's not clear. Are you saying you have not checked it yet? Is that version from a different machine?
How did you test the connection that is working?
The only prereqs should be the 64bit ODBC driver, which sounds like what you have.

Let me know if you can get the ODBC log files. Thanks.

[2020-12-07 04:58] DaisukeOtaka commented on #5
@ssegal100

I've acknowledged. I will try to get the ODBC log later.

[2020-12-07 13:49] DaisukeOtaka commented on #5
@ssegal100
These are my ODBC log files.
*Due to GitHub's attachment file extension restrictions, I renamed "snowflake_odbc_curl.dmp" to "snowflake_odbc_curl.dmp.log".

[snowflake_odbc_connection_0.log](https://github.com/Snowflake-Labs/Excelerator/files/5652953/snowflake_odbc_connection_0.log)
[snowflake_odbc_driver.log](https://github.com/Snowflake-Labs/Excelerator/files/5652954/snowflake_odbc_dr

[2020-12-07 14:30] ssegal100 commented on #5
@DaisukeOtaka
Thank you. I'm looking at it now.
Do you know who the Solution Engineer is that supports your account?

[2020-12-07 14:39] DaisukeOtaka commented on #5
@ssegal100
I'm sorry, I found the reason of this issue. This was my PC environment issue.

**Step1. update cacert.pem**
I downloaded the file from the following site and updated it, but there was no change.

curl - Extract CA Certs from Mozilla
https://curl.haxx.se/docs/caextract.html

**Step 2. Change my antivirus soft (ESET) settings.**
I turned off the ESET setting called "Enable SSL/TLS protoc

[2020-12-07 14:43] ssegal100 commented on #5
Oh great to hear. Thanks for letting me know!
Connectivity issues are always tough to track down.
Now that you are connected, let me know if you have any questions with the Excelerator.

[2020-12-07 14:46] ssegal100 commented on #5
@sara0529
Would you open another issue so we can close out this one?
Do you know who your Solution Engineer is that is supporting your account?
Thanks.

[2020-12-14 13:57] terry-campbell-od opened #6 "No access to CREATE STAGES"
Can Excelerator be modified to optionally use the user stage (@~) instead of creating a stage to upload data?

[2020-12-14 14:10] ssegal100 commented on #6
Hi @terry-campbell-od. Unfortunately it can't because both user and table stages have some limitations. In the upload process the  skip_header is changed depending on weather or not there are data types in the first row. I've tried it a couple of times only to hit a wall. User stages can't be altered.
Happy to discuss possibilities though.
Also, if a stage is not provided, a temporary one will be

[2020-12-14 14:22] terry-campbell-od commented on #6
Thanks for getting back so quickly and for the explanation.  I would like to discuss.  Let me do some debugging to see exactly where I am failing.  I will reply back.

[2020-12-14 14:27] ssegal100 commented on #6
You're welcome.
I believe that the issue arose in the stored procedures, and they are only used when auto-detecting data types. I'm feeling like the auto-detect data types feature is causing more complexity than it's worth.
So, I think that if we find that the request is not using it, we might be able to use the User Stage.
Please have a look, that would be great.

[2020-12-17 16:11] rcaddell opened #7 "Invalid UTF8 Detected in string when using data sourced from SQL Server 2008R2"
Data enters Snowflake via Fivetran using the SQL Server connector.  Source SQL Server Collation is SQL_Latin1_General_CP1_CI_AS.  Querying using the connector is fine, but when I upload, I receive an Invalid UTF8 error; I believe due to the source systems collation.

I have a named stage with a defined file format for Excelerator.  I've set the following parameters in my file format with no succes

[2020-12-17 16:21] ssegal100 commented on #7
Hi @rcaddell. To make sure I understand. After loading the data from Fivetran into Snowflake, you then queried Snowflake with Excelerator. Did you try and upload that same file that you just downloaded using Excelerator, or was it a different file?

[2020-12-17 17:00] rcaddell commented on #7
Thanks for the quick reply @ssegal100.  I have the data loaded to Snowflake via Fivetran.  I'm then creating another final table which is fed from those source tables( i.e. `create table dev_randy.excelerator_test as select * from fivetran.sqlserver.account limit 10`).  I'm then querying that new excelerator_test table with Excelerator.  I'll return the ten rows no problem.  I renamed a few accoun

[2020-12-17 17:16] ssegal100 commented on #7
@rcaddell What time zone are you in? Can you hop on a zoom call later today?
If you remove the one value it's failing on, does it then work?
Can you try and use the 'Copy' command to load the file? It should give you the same error, but it's good to validate.

[2020-12-17 19:35] rcaddell commented on #7
@ssegal100 I am EST.  I can jump on a call whenever is good for you short or 3PM-330PMEST.

If I remove some of the longer columns columns that are erring it does succeed.  I am noticing that those columns do have values in there such as "c/o", which seemingly are not presented correctly on upload.

I placed the file in the stage and ran a copy, still erred, but not as verbose:

![excelerator_copy

[2020-12-17 20:03] rcaddell commented on #7
Looks like I am not restricted to SQL sources for this.  Tested the same record coming from a Cloud system and its something in the construct of some of our data.

[2020-12-17 20:15] ssegal100 commented on #7
OK, thanks for the update.

[2020-12-21 20:33] rcaddell commented on #7
closing as I have some more testing to do

[2020-12-21 20:33] #7 closed

[2020-12-22 09:52] DaisukeOtaka commented on #5
The original issue has been resolved, so I'm going to close this ticket.

@sara0529
If the problem persists, please open another issue.

[2020-12-22 09:52] #5 closed

[2020-12-28 19:45] PAPutzback opened #8 "Inserting data does overrides columns with defaults or autoincrement set."
If I insert a row and leave the Primary key field empty since it is supposed to autogenerate the id on insert and\or I leave another column with the default set to CURRENT_TIMESTAMP(). Neither the ID or the date gets set. They end up being set to empty strings. Without the key this also makes deletes a bit of an issue and the user will need rules to add additional key fields.
Great Addin though. I

[2020-12-29 04:32] ssegal100 commented on #8
Hi @PAPutzback. If you are trying to only insert rows, then you can just leave those columns out. If you do that it will not explicitly set those columns to anything, so the defaults should work. You won't be able to do an insert and update in the same 'upload' function though.
Let me know if this could work for you. If you can think of a behavior change that can help, let me know.
Thanks.

[2020-12-29 15:11] PAPutzback opened #9 "When I try to change my role or warehouse I get the error "Problem Initializing""
I get the error when I click either link in User Data. When I close the error an Upload Status box appears with the text "Getting Roles..." and it never goes away. I can close it and it give me a dialog box with two dropdowns to select a Role and Warehouse.

If I click OK on the config the debugger shows up along with a compile error "Method or data member not found". The break is on OKButton_Clic

[2020-12-29 16:49] ssegal100 commented on #9
@PAPutzback I'm looking at it now. I take it that you had already connected before trying to change the role/warehouse, right?
Do you have time to do a web conf so I can step through it with you?
Thanks
Steve

[2020-12-29 17:10] ssegal100 commented on #9
@PAPutzback At the bottom of the Excel workbook there are tabs, maybe just one. Would you right click on it and select 'unhide'. In the menu that appears, click 'SnowflakeConfig'.
What are the values for Warehouse and Role on the sheet that appears?

[2020-12-29 19:40] ssegal100 commented on #9
@PAPutzback I uploaded a new version with some better error handling. Please try that, it should provide more insight.
Also, when you get the error, look in the SQL History for you Snowflake account and let me know what the last SQL was.
Thanks.
Steve

[2020-12-29 20:24] PAPutzback commented on #9
I'll check out the new version. I think you can delete this thread. I think the issue was because I was preparing a demo and when I reconnected the addin to Excel something broke. I restarted Excel and the problem went away. I appreciate the quick response.

One enhancement I could see would be a notification that there are backup tables from a previous session that need to be cleaned up. I notice

[2020-12-29 20:59] ssegal100 commented on #9
OK, thanks. Let me know if you have any other issues.
I create a backup immediately when uploading, except if its a new table of course. I found this approach easier than using time travel, though you are right, these backup tables aren't always deleted.
I like the idea of the notification and maybe asking the user if they want to clean up any back up tables.
Thanks.

[2020-12-29 20:59] #9 closed

[2021-01-13 22:23] mdavidn opened #10 "Character encoding mismatch when uploading data"
When uploading data that contains non-ASCII characters, such as ä (`C3 A4` in UTF-8, `E4` in Windows-1252), Snowflake returns an error complaining of invalid UTF-8.

I have no experience with Excel VBA. My guess would be that either `Workbook.SaveAs` needs the [`FileFormat:=xlCSVUTF8` option](https://docs.microsoft.com/en-us/office/vba/api/excel.workbook.saveas) **or** Snowflake's `FILE_FORMAT` ne

[2021-01-14 02:41] ssegal100 commented on #10
Thanks @mdavidn. Great input. I'll take a look.

[2021-01-14 04:54] ssegal100 commented on #10
@mdavidn I added support for UTF8 characters as you mentioned. I used your first suggestion. Please let me know if it solves the issue you are experiencing.
I'm at a loss for how to test emoji and supplementary ideographs. I'm not sure how to enter them in Excel. Any help you can provide would be great. If you can test it yourself and let me know the outcome, even better.
Thanks!

[2021-01-14 04:57] ssegal100 commented on #8
@PAPutzback Is there any improvements that we can do to help? Maybe I'm not completely understanding the issue.
Thanks.

[2021-01-14 23:43] KeithDevX commented on #10
I'm attempting the upload (FYI @mdavidn and I work together) and now get a different error 'Error Saving File. Method 'SaveAs' of object '_Workbook' failed.

![image](https://user-images.githubusercontent.com/8392022/104662237-37af4200-567f-11eb-9f55-5a084561b67f.png)

[2021-01-15 00:44] ssegal100 commented on #10
@KeithDevX What version of the addin are you using? You can get if from the config button in the Ribbon. When it opens it will be the first line.
Does it happen consistently with different files or just one?
Would you be able to attach file that it fails on? Take out any confidential data and make it small please.
Thanks.

[2021-01-15 02:47] KeithDevX commented on #10
I created a sample table and was able to replicate:

[code]

I am able to successfully query this table using the excel tool, but am unable to upload, receiving the SaveAs Error.

Excel Example:
[Snowflake_Example.xlsx](https://github.com/Snowflake-Labs/Excelerator/files/5818091/Snowflake_Example.xlsx)

Upload Parameters:
![Param](https://user-images.githubusercontent.com/8392022/104674659-dbf1b28

[2021-01-15 04:18] ssegal100 commented on #10
@KeithDevX Thanks for the great info, the only issue is that it works for me, even when I use your workbook.
Does it work fine when there is no special character?
Has @mdavidn tried it yet, and does it work?
I think the best way to resolve it is to do a web conf and I can walk through the execution and see what's going on.
Would you be able to do that?
I'm available for another hour or tomorrow wo

[2021-01-15 18:43] KeithDevX commented on #10
Just FYI my finance partner had the same issue with the new build.

@ssegal100 I'll message you directly. Thanks for the stellar response on this :)

[2021-01-16 15:12] ssegal100 commented on #10
Hi @KeithDevX. So it looks like its an Excel version issue. Versions prior to 2016 does not support sFileFormat = xlCSVUTF8. Would you check your Excel version to make sure that's the issue?
I've updated the addin to manually export the data as UTF-8, but unfortunately that has caused other complex issues.
So the other option is something that @KeithDevX mentioned and that's changing the stage fil

[2021-01-19 21:48] mdavidn commented on #10
Does `FileFormat:=xlCSV` always return Windows-1252? How will the user know which encoding to use?

In older versions of Excel, a user exporting UTF-8 CSV manually would adjust the encoding under "Web Options" in the "Save As..." dialog. Can VBA do something similar with [WebOptions](https://docs.microsoft.com/en-us/office/vba/api/excel.weboptions)?

[2021-01-21 19:02] KeithDevX commented on #10
@ssegal100 Works great! Thanks for iterating with us on this.

[2021-01-21 19:09] ssegal100 commented on #10
@KeithDevX Great, thanks for letting me know.

[2021-01-26 14:47] bkaehny opened #11 "Leading zeroes are lost in numeric fields"
I put this issue on this youtube video: https://www.youtube.com/watch?v=csmS5V2ONr8&lc=UgzpYpaSWOgSNDvBMbJ4AaABAg.9IDpIqerYoJ9IxW74-QrC0&feature=em-comments

You lost the leading zeroes in your ZIP code in rows 33 and 34 on the initial SELECT *. Is there any way to prevent that from happening?

[2021-01-26 15:15] ssegal100 commented on #11
Hi Brian. The leading zeros will not be lost if the column datatype in Snowflake is a string. In the example in the YouTube video, the datatype is a number, so that's why there are no leading zeros. In other words, the zip code in the table doesn't have the zeros.
Does this answer your question?
Thanks.

[2021-01-26 18:44] schenjgc opened #12 "Last option is missing -- "Auto-generate data types when not specified for new columns or a new table " Stored Procedures needed"."
I am missing the 3rd check box under advanced options:

"Auto-generate data types when not specified for new columns or a new table " Stored Procedures needed".

I am using the most recent SnowflakeExcelAddin.xlam (1/22/21) x64 add in

Thanks

[2021-01-26 19:00] ssegal100 commented on #12
@schenjgc Due to some complications we removed this feature.
Is it something that would be important to you? The other way of loading new columns would be to explicitly set the datatype.
I'd like to get a understanding of the value it would add to help determine if we should work at enabling it.
Thanks!
Steve

[2021-01-26 20:50] bkaehny commented on #11
Yes, that answers my question. Thanks!

[2021-01-26 20:50] #11 closed

[2021-01-28 17:00] schenjgc commented on #12
when I try creating a new table I get the error:
Error executing SQL: SQL compilation error:
Object 'DEMO_DB.PUBLIC.EXAMPLE' does not exist or not authorized

[2021-01-28 17:14] ssegal100 commented on #12
Did you check the 'Create new table and upload' checkbox at the bottom of the page?

[2021-01-28 17:19] schenjgc commented on #12
Yes its checked.

From: Steven Segal <notifications@github.com>
Sent: Thursday, January 28, 2021 12:14 PM
To: Snowflake-Labs/Excelerator <Excelerator@noreply.github.com>
Cc: Stephen Chen <SChen@jgoldmanlp.com>; Mention <mention@noreply.github.com>
Subject: Re: [Snowflake-Labs/Excelerator] Last option is missing -- "Auto-generate data types when not specified for new columns or a new table " Stored

[2021-01-28 17:27] schenjgc commented on #12
The only way I'm able to get data into Snowflake from excel is if I first create the table in Snowflake in the same format as excel:

create or replace table "DEMO_DB"."PUBLIC".bbg_example3(DATE date, LB double, GPS double, URBN double);

insert into "DEMO_DB"."PUBLIC".bbg_example3 values
    ('2021-01-11', 46.91, 22.39, 28.65);

Then I query the table from excel using excelerator and then I add t

[2021-01-28 17:39] ssegal100 commented on #12
I think I might have found the issue. Let me test it and I'll let you know soon.

[2021-01-28 18:54] ssegal100 commented on #12
@schenjgc I resolve the issue. Would you please download the latest and test again. Please let me know the results.
Thanks.
Steve

[2021-01-28 19:13] schenjgc commented on #12
Fixed! Thank you!

From: Steven Segal <notifications@github.com>
Sent: Thursday, January 28, 2021 1:55 PM
To: Snowflake-Labs/Excelerator <Excelerator@noreply.github.com>
Cc: Stephen Chen <SChen@jgoldmanlp.com>; Mention <mention@noreply.github.com>
Subject: Re: [Snowflake-Labs/Excelerator] Last option is missing -- "Auto-generate data types when not specified for new columns or a new table " Stored

[2021-01-28 19:16] ssegal100 commented on #12
Great, I'll close the issue.

[2021-01-28 19:16] #12 closed

[2021-01-28 20:57] z05794 opened #13 "One option missing in Excelerator For Snowflake"
Please advise why I don't have the last option -- "Auto-generate data types when not specified for new columns or a new table " Stored Procedures needed".   Thank you!

[2021-01-28 21:03] ssegal100 commented on #13
@z05794 Due to some complications we removed this feature.
Is it something that would be important to you? The other way of loading new columns would be to explicitly set the datatype.
I'd like to get a understanding of the value it would add to help determine if we should work at enabling it.
Thanks!
Steve

[2021-01-28 21:20] schenjgc commented on #12
A couple more questions if you can:
Does the data in excel need to be in a Table format to uplaod? And do inserts without updating the rest of the table take exceptionally long?

From: Stephen Chen
Sent: Thursday, January 28, 2021 2:14 PM
To: Snowflake-Labs/Excelerator <reply@reply.github.com>; Snowflake-Labs/Excelerator <Excelerator@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Sub

[2021-01-28 21:35] ssegal100 commented on #12
Q: Does the data in excel need to be in a Table format to uplaod?
A: It doesn't need to be an Excel table, but it does need to have the column names in the first row or the second row if you define the columns datatypes for new columns. It can't have any blank columns to the left of the data.

Q:And do inserts without updating the rest of the table take exceptionally long?
A:Updates should be pret

[2021-01-29 18:03] pramodrepaka opened #14 "Does not allow to change the snowflake role"
The role in snowflake is changed and it does not reflect in the excel. When I try to edit in config it does not give an option to edit the new role or it does not fetch the new role in snowflake.

[2021-01-29 19:34] ssegal100 commented on #14
What do you mean, the role in Snowflake has changed?
In config are you clicking on 'User Role' label? Are you seeing the 'Select Role and Warehouse' dialog?
If so what are you seeing?

[2021-02-02 00:50] schenjgc commented on #12
Hey Steven,
Replacing all data and creating new tables works now but I'm having issues on updates and inserts.

Anytime I try to insert it gives me a SQL compilation error: unsupported data type 'LB' since it appears to think I'm defining data types in the first column when they are just column names.
If I then try to define the data types it errors and says the column headers I have already exist

[2021-02-02 01:21] ssegal100 commented on #12
@schenjgc I'm unable to reproduce that.  Would create a sample excel file without any sensitive data and upload it here?

[2021-02-10 14:55] daniel-sali opened #15 "Upload error to new table in schema with quoted, lowercase name containing "/""
Hi,

I'm having issues uploading table data to a new table in a database and schema with a case-sensitive, lowercase quoted name. The names of the database and schema also contain the "/" character, I'm not sure if this is relevant.

The error happens after the "create or replace stage ... " statement is issued to Snowflake.

Upload of the same data succeeds to a database/schema with a case-insens

[2021-02-10 15:05] ssegal100 commented on #15
Hi Daniel. Are the column names in the header actually quoted?
If so would you try it without the quotes. It should be by default case sensitive.
Also, I'm not sure about the "/". I'll have to look at that.
Thanks.
Steve

[2021-02-10 16:18] daniel-sali commented on #15
Hi,
No, the column names are not quoted, this is the data I'm trying to load:
<img width="355" alt="Screenshot 2021-02-10 at 17 15 28" src="https://user-images.githubusercontent.com/13250673/107538033-d4ec9000-6bc3-11eb-9491-8edcd671d164.png">
If there is a way I can capture VB error messages, let me know, I'd be happy to check and share logs.
Thanks,
Daniel

[2021-02-10 16:22] ssegal100 commented on #15
This should be good enough info for me to reproduce. I'll let you know if I need anymore info.
What timezone are you in?
Steve

[2021-02-10 16:26] daniel-sali commented on #15
I'm in the CET time zone GMT+1.

[2021-02-10 17:20] ssegal100 commented on #15
Daniel,
I'm able to upload the worksheet like the one you have.
So the table doesn't exist and you are trying to create it with the add-in, right?
There's not a simple way to capture the VB error if it's not already throwing one. Are you seeing a pop up with an error message?
Can we do a zoom call tomorrow morning so you can walk me through it?

[2021-02-10 17:29] ssegal100 commented on #14
@pramodrepaka Is this resolved yet?
If not let me know what you are seeing.
Thanks,
Steve

[2021-02-10 17:31] daniel-sali commented on #15
Thanks for taking a look, I'm available tomorrow for a zoom call from 9:30
CET.
You can contact me directly at daniel.sali >at< alphacruncher.com .
I'm getting an error popup, yes, I'd be happy to show you when and how.

Thanks,
Daniel

On Wed, Feb 10, 2021 at 6:20 PM Steven Segal <notifications@github.com>
wrote:

[2021-02-11 21:41] ssegal100 commented on #15
@daniel-sali Please download v 1.1.11 and let me know if that works for you.
Thanks.
Steve

[2021-02-12 08:43] daniel-sali commented on #15
Hi Steve,

Thank you for the call and the quick fix, I can confirm that I could upload my data to a new table in the database/schema with the quoted name containing "/".

Thanks,
Daniel

[2021-02-12 08:43] #15 closed

[2021-02-15 18:58] GouriprasadMP opened #16 "Backup table Getting created after loading data"
Hi,
When I load the data into snowflake into a table ,it is creating a backtable too.
How to get rid of this backup table ..Can you pl guide
Regards,
G

[2021-02-15 19:00] GouriprasadMP opened #17 "Cal SP"
Hi,
Can you please guide me by letting me know if there is a way by which I can excute Call stored procedure from the Plug in
Regards,
G

[2021-02-15 20:25] ssegal100 commented on #16
Hello. Backup tables should be cleaned up automatically, unless there was an error in the upload. Are you seeing something different? If you upload data multiple times are there multiple backup tables?
Steve

[2021-02-15 20:43] ssegal100 commented on #17
Yes you can just use the Query feature, but instead of creating a SQL statement use the 'Call' syntax. For example if you have a stored procedure named exceltest, you can call it this way.
call exceltest();
You will either need to use a fully qualified call like this:
call mydatabase.public.exceltest()
or you can select the database and schema and then set the default database by clicking 'Make De

[2021-02-15 22:31] ssegal100 commented on #16
@GouriprasadMP I checked and I wasn't cleaning up the backup table properly.
If you download the latest version it should clean it up. You will have to manually Drop the previously created backup tables with the Drop Table <tablename> command.

[2021-02-16 07:04] GouriprasadMP commented on #17
Hi,
Thanks a ton for your quick response.
I  tried before reaching you the SQL option I see only Tables and views from DB but not this AutoCreate option is it the version issue?
Thank you

[2021-02-16 13:26] ssegal100 commented on #17
Oh, I think I misunderstood your question.
The Autocreate functionality has been removed because of some complications.
Is it something that you would like? If there is demand for it then I'll work on it, but it hasn't been used much so I don't think it was worth it.
Let me know what you think.
Steve

[2021-02-16 17:51] GouriprasadMP commented on #17
Yes,I want to leavarage the Plugin  and excute the SP.
If you can help by giving that plugin that will be of great help
Many Thanks,
G

[2021-02-18 15:03] GouriprasadMP opened #18 "TimeStamp"
Hi,
When  I load data I am facing issue if the data type is Timestamp in the table ...
I teseted with mutilple tables I am unable to load data is data type is Timestamp
Any idea why this is happening
Warm Regards,

[2021-02-18 15:05] ssegal100 commented on #18
Would you send me an example of the file or a screenshot. I need to see what you are actually loading.
Also what is the error you are getting?
Look in the History tab of the Snowflake UI and see if anything failed and what that error message is.
Thanks.

[2021-02-18 15:09] GouriprasadMP commented on #18
Sure,let me try

[2021-02-25 14:36] GouriprasadMP commented on #17
Hi Steve,
Greetings!
Will you be able to help with Add-in with which I can call SP from Excel.
Regards,
G

[2021-02-25 16:14] GouriprasadMP commented on #17
our users will load the data based on  need and based on their comfort and
time.Once they load the data...I have an SP which they have to run to see
the output in power BI.

On Thu, Feb 25, 2021 at 9:00 PM Steven Segal <notifications@github.com>
wrote:

--
<https://bottr.me/gouriprasad?utm_source=emailSignature>

Gouri Prasad

@gouriprasad <https://bottr.me/gouriprasad?utm_source=emailSignature>

[2021-02-25 18:44] ssegal100 commented on #17
I'm not clear on the request. Is it to run any SP or is it specifically for the autodetect datatype feature?

[2021-02-25 22:22] marcotielen opened #19 "SQL compilation error: syntax error line 1 at position 76 unexpected '('"
Getting a compilation error when trying to upload new data to a new table ("create a new table then upload").

[2021-02-25 22:25] ssegal100 commented on #19
Hi. What are the details of the error message?
Would you look in the Snowflake History tab and let me know what the query is that is throwing the error and what that error is?
Would you send me a sample of a worksheet that is failing?
Thanks.

[2021-02-25 22:32] marcotielen commented on #19
thanks. Thought it was the plugin that did a syntax check. Just checked. It is the Varchar(n) data type which is causing the issue. Switching to "text" fixes it. Below query breaks at opening bracket after Varchar

create or replace table "XXX"."YYY"."EXCELERATOR" ("First Name" Varchar(n),"Last Name" Varchar(n))

[2021-02-25 22:38] ssegal100 commented on #19
Ok good. I should have made it more clear, you are supposed to change the '(n)' to '(50)' or whatever length you need. Maybe I'll change the default to be '(50)'.
Is it ok if I change close this ticket?

[2021-02-25 22:38] marcotielen commented on #19
Just did a manual override of the dropdown value to Varchar(100) and now it works. Understandable though not intuitive

[2021-02-25 22:41] marcotielen commented on #19
sure. please close

[2021-02-26 12:18] GouriprasadMP commented on #17
To run SP

On Fri, 26 Feb 2021, 12:14 am Steven Segal, <notifications@github.com>
wrote:

[2021-02-26 21:35] GouriprasadMP commented on #17
Hi Steve, Kindly let me know if have any other questions
Thanks,
G

On Fri, 26 Feb 2021, 5:47 pm Gouri Prasad, <gouriprasadmp@gmail.com> wrote:

[2021-02-26 22:53] ssegal100 commented on #17
I'm having a hard time understanding what you are asking for. Can we get on a call together next week?

[2021-02-26 23:28] GouriprasadMP commented on #17
Hi Steve,
Sure,but what I am asking is to help with an option  to execute call
procedure from excel.
Pl ping me on WhatsApp would love to talk to you
My number +917799099663
Weekend this Saturday or Sunday would be best for call
Thanks a ton

On Sat, 27 Feb 2021, 4:23 am Steven Segal, <notifications@github.com> wrote:

[2021-02-27 12:05] GouriprasadMP commented on #17
Hi Steve,
Just to clarify excalty the same what you have shown in the first post.Attaaching the same here again.
We can talk over whatsapp Today,tomorrow based on your availibilty -My number -+917799099663
![CALLSP](https://user-images.githubusercontent.com/79110178/109386646-0da99a80-7922-11eb-9b21-bf29ea63167a.png)

[2021-03-01 01:00] TonyGaul commented on #13
Hi, Is it complex to add this functionality back in?  For me it is a nice to have, which saves me profiling the dataset.  I have a some large files and it is not obvious what the ideal datatype is without profiling... which I might use Power Query to detect types.  Are you able to suggest data types and populate the first row drop downs?  Thanks.

[2021-03-01 16:20] terry-campbell-od opened #20 "Add In gets Removed when Excel is closed and reopened"
The latest version of the AddIn (SnowflakeExcelAddin.xlam) does not persist between closing and reopening Excel (Version 2008  Build 13127.21216).  The menu items are removed and the addin must be readded via the Addin management window.

[2021-03-01 16:22] terry-campbell-od commented on #20
[Excelerator Disappearing Issue.docx](https://github.com/Snowflake-Labs/Excelerator/files/6062950/Excelerator.Disappearing.Issue.docx)

[2021-03-01 16:40] ssegal100 commented on #20
Hi Terry. This commonly happens if you don't 'unblock' the file before installing. It's a windows security 'feature'. Here is a link to an article.:
https://exceloffthegrid.com/install-uninstall-excel-add/

Let me know if this helps.
Steve

[2021-03-01 17:04] terry-campbell-od commented on #20
Thanks for the quick the reply.  Really appreciate it.

Terry Campbell
Sr. Manager, IT - Enterprise Intelligence Systems
6600 N. Military Trail | Boca Raton,  FL 33496
Tel: 561.438.6140 | Terry.Campbell@OfficeDepot.com<mailto:Terry.Campbell@OfficeDepot.com>

[Office Depot | Max]
CONFIDENTIALITY NOTICE: The information contained in this email and attached document(s) may contain confidential inform

[2021-03-01 17:51] trlinton commented on #20
Hi,  there is a section in the documenation that explains the issue and how
to resolve permission/security persisting the add-in

Thanks

On Mon, Mar 1, 2021, 10:21 AM terry-campbell-od <notifications@github.com>
wrote:

[2021-03-08 23:51] #20 closed

[2021-03-08 23:53] ssegal100 commented on #18
@GouriprasadMP I believe this issue has been resolved right?
Would you add the solution and then close the issue?
Thanks.

[2021-03-08 23:54] ssegal100 commented on #16
@GouriprasadMP Would you close this issue after you confirmed that the backups are getting dropped properly?
Thanks.

[2021-03-08 23:55] #14 closed

[2021-03-09 06:33] TonyGaul commented on #18
@ssegal100 I had this issue last week and ended up choosing a text data type.  I am not sure if it is fixed.  Will leave the OP to update but can dig something up if need required.

[2021-03-10 00:56] TonyGaul commented on #18
@ssegal100 In the xslx I have a datetime field called "FieldTimestamp", the first value is "2021-19-01 06:28:42".  The Excel custom format is "yyyy-mm-dd hh:mm:ss".  When uploading to Snowflake I get this error: "Timestamp '2021-19-01 06:28:42' is not recognized File '<DATABASE>.<SCHEMA>.<TABLE>TEMP.CSV.gz', line 3, character 39 Row 1, column "<TABLE>"["FieldTimestamp":6] If you would like to cont

[2021-03-10 22:49] TonyGaul commented on #18
@ssegal100 Hi, after re-reading my comment, I realised that although the Excel custom format is showing "yyyy-mm-dd hh:mm:ss", the actual cell value is being displayed as "yyyy-dd-mm hh:mm:ss".  Therefore a Snowflake timestamp configuration of "YYYY-DD-MM HH24:MI:SS" worked.  So I do not have any problem with this issue and other xlsx files with datetime value work.  Thanks.

[2021-03-11 16:04] ssegal100 commented on #18
@TonyGaul Thanks for the follow up.

[2021-03-11 16:04] #18 closed

[2021-03-18 20:47] terry-campbell-od opened #21 "Connect Cancel Button Cause Connect Error Going Forward"
When using the SnowflakeExcelAddin.xlam Add In, if I click Connect and then Cancel.  Every time afterwards I receive an error "**ERROR: Problem connecting: SQL compilation error:  Object does not exist, or operation cannot be performed.**"

This did go away once after my computer went to sleep over night but I was able to recreate by clicking Cancel from the Connect Window.

[2021-03-18 21:13] ssegal100 commented on #21
I'm not able to reproduce this one.
Does the error happen after you click OK once you entered the user/password? Are you using SSO or username and password?
Are you able to see what the last SQL executed was in Snowflake? If you look on the History tab in the Snowflake UI you should see a query executed with an error. Would you let me know what that is?
Thanks.

[2021-03-18 21:17] terry-campbell-od opened #22 "Cannot Clear Excelerator AddIn from Excel"
The AddIn was installed without checking the unblock property.  When this was attempted to be corrected the excel addin cannot be removed from excel.  Excel "keeps" finding it even after deleting all the excelerator files and unchecking the addin from the excel configuration.  Excel gives the message to remove the addin.  We click ok to remove it and uncheck the addin from the list.  The addin is

[2021-03-18 21:23] terry-campbell-od commented on #21
I am using SSO.   Attached are screenshots.  The history was from an hour ago.  No new queries seem to be issued.

[cid:23401ae3-4ec4-473a-bf1d-2c2761e548db]

Thanks for the quick reply.  The tool is awesome when working!!!

Terry Campbell
Sr. Manager, IT - Enterprise Intelligence Systems
6600 N. Military Trail | Boca Raton,  FL 33496
Tel: 561.438.6140 | Terry.Campbell@OfficeDepot.com<mailto:Terry

[2021-03-18 23:10] ssegal100 commented on #22
Terry,
This can be a little tricky. Excel might ask you to move the add-in to the user directory, so it might be hard to find. It can be stored in this directory C:\Users\<user>\AppData\Roaming\Microsoft\AddIns.
Sounds like you have two add-ins enabled. To delete both of them try this:
1 - Make sure all snowflake add-ins are checked in the add-in config window
![image](https://user-images.githubus

[2021-03-19 13:45] terry-campbell-od commented on #21
Good morning, I tried using the addin this morning after waking my laptop from hibernation.  I was able to connect the first time.  I closed excel.  I launched Excel again a little later and cannot connect to Snowflake.  I receive the **"ERROR: Problem connecting: SQL compilation error: Object does not exist, or operation cannot be performed.**".

![image](https://user-images.githubusercontent.com

[2021-03-19 13:46] terry-campbell-od commented on #22
For the user with this issue -

When I opened up Excel today I only had one instance of Excelerator. I ran a SQL and it worked. Then closed it down and ran it again and got the same error.

I followed the instructions below. I only saw one instance of Excelerator. I deleted it and started over and I still goet the error. The only odd think I see is that when I walk through the process the first ti

[2021-03-19 13:59] terry-campbell-od commented on #21
Another user I am working with is having the same issue.

![image](https://user-images.githubusercontent.com/31252005/111791634-c61b8c00-8899-11eb-845a-3c33224eed1c.png)

[2021-03-19 15:28] ssegal100 commented on #21
Terry,
Would you check your version of the Add-in? Click the Config button in the Ribbon. You should see the version number at the top. If you don't have the latest (1.1.15), would you download it?
![image](https://user-images.githubusercontent.com/13276366/111804096-bef67d00-889d-11eb-851d-574648b7410a.png)

[2021-03-19 15:35] terry-campbell-od commented on #21
I have 1.1.13.  I will update to 1.1.15.  Thanks.

Terry Campbell
Sr. Manager, IT - Enterprise Intelligence Systems
6600 N. Military Trail | Boca Raton,  FL 33496
Tel: 561.438.6140 | Terry.Campbell@OfficeDepot.com<mailto:Terry.Campbell@OfficeDepot.com>

[Office Depot | Max]
CONFIDENTIALITY NOTICE: The information contained in this email and attached document(s) may contain confidential information

[2021-03-19 16:05] terry-campbell-od commented on #21
I installed 1.1.15 but extracting the new download over the existing files.  I updated the file properties and checked the unblock check box.  I was able to connect and run a query.

I closed Excel and reopened Excel.  I can no longer run queries.  I am receiving the same error.

[cid:01dab402-f40c-47ec-af12-6857a8de431b]

I am available for a debug session if you'd like.

Thanks.

Terry Campbell

[2021-03-23 03:11] ssegal100 commented on #21
Terry, as discussed this issue is due to the pseudo role ALL.
The latest version of the Add-in 1.1.16, will set the role to an empty string if the previous Role used was ALL. This should prevent the error from occurring.
Please download the latest version and let me know if it works for you.
Thanks.
Steve

[2021-03-23 11:21] terry-campbell-od commented on #21
Thanks Steven, I will download today and test it out.   Really appreciate the support.

Sent from my T-Mobile 4G LTE Device
Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Steven Segal ***@***.***>
Sent: Monday, March 22, 2021 11:12:02 PM
To: Snowflake-Labs/Excelerator ***@***.***>
Cc: Terry Campbell ***@***.***>; Author ***@***.***>
Subject: Re: [Snowflake-

[2021-03-23 14:48] terry-campbell-od commented on #21
Steven,

1.1.16 is working great for me.  Thank you for the quick turnaround and the great tool!

Regards,
Terry

Terry Campbell
Sr. Manager, IT - Enterprise Intelligence Systems
6600 N. Military Trail | Boca Raton,  FL 33496
Tel: 561.438.6140 | Terry.Campbell@OfficeDepot.com<mailto:Terry.Campbell@OfficeDepot.com>

[Office Depot | Max]
CONFIDENTIALITY NOTICE: The information contained in this emai

[2021-03-23 15:06] ssegal100 commented on #21
Great to hear Terry. It was great working with you on this.
Are both issue now resolved? If so would you close them out?
Thanks.
Steve

[2021-03-23 15:24] terry-campbell-od commented on #21
Yes sir, both issues are resolved.  You can close issues #21 and #22.  Thanks again!

Terry Campbell
Sr. Manager, IT - Enterprise Intelligence Systems
6600 N. Military Trail | Boca Raton,  FL 33496
Tel: 561.438.6140 | Terry.Campbell@OfficeDepot.com<mailto:Terry.Campbell@OfficeDepot.com>

[Office Depot | Max]
CONFIDENTIALITY NOTICE: The information contained in this email and attached document(s) m

[2021-03-23 15:26] #21 closed

[2021-03-23 15:27] #22 closed

[2021-03-23 15:30] ssegal100 commented on #17
Hi Gouri. Is there any more assistance needed here?
If not we can can close this issue.
Thanks!

[2021-03-23 15:31] ssegal100 commented on #16
@GouriprasadMP Have you been able to confirm this issue is resolved?

[2021-03-23 15:34] ssegal100 commented on #13
@TonyGaul Sorry for delay. Yes, it's quite complex because the entire upload process is different when we use that feature.
I like your suggestion of profiling within Excel. Let me look into it and I'll let you know.
Thanks.

[2021-03-23 15:35] ssegal100 commented on #10
@KeithDevX @mdavidn I'm going to close this issue, but if you find that you need anything else please let me know.
Steve

[2021-03-23 15:35] #10 closed

[2021-03-23 15:36] ssegal100 commented on #8
@PAPutzback Was there anything I can help with on this issue? If not I'd like to close it out.
Thanks.
Steve

[2021-03-23 15:38] ssegal100 commented on #6
@terry-campbell-od I've dug into this one and looks like I still can't use the user stage.
I'm going to close the issue but let me know if you want to discuss more.
Steve

[2021-03-23 15:39] ssegal100 commented on #4
@BiToolkits Hi. Has this been resolved? If so I'd like to close this issue.
Thanks.
Steve

[2021-03-23 17:09] PAPutzback commented on #8
Sorry for not getting back to you. I got pulled off to another project.
Please close the ticket,

On Tue, Mar 23, 2021 at 11:37 AM Steven Segal ***@***.***>
wrote:

[2021-03-23 17:29] ssegal100 commented on #8
Thanks!

[2021-03-23 17:29] #8 closed

[2021-03-24 04:53] TonyGaul commented on #13
@ssegal100 Thanks.  Even if it is something as simple as macro code showing basic stats for each column on a new blank row e.g. MIN value, MAX value, MAX length, MAX decimal places.  I can then choose an appropriate data type.  I had a dataset with 100k+ rows and thought a couple of fields were whole numbers, but after the import failed, I discovered a couple of random text values in the columns.

[2021-03-25 03:32] howardnguyen1211 opened #23 "Cannot change the role"
the default role does not have any warehouse attached to it. want to change the default role, but it popped up the warehouse list which is empty.

[2021-03-25 14:36] GouriprasadMP commented on #17
Pl close dear Steve

On Tue, 23 Mar 2021, 9:00 pm Steven Segal, ***@***.***> wrote:

[2021-03-25 14:43] #17 closed

[2021-03-25 16:02] howardnguyen1211 commented on #23
I fixed the problem.

[2021-03-25 16:02] #23 closed

[2021-03-25 16:06] ssegal100 commented on #23
@howardnguyen1211 What did you do to resolve the issue?

[2021-03-25 16:14] howardnguyen1211 commented on #23
change the default wh use cmd below, then replace the old add-ins file with the new one from git. since the old one had cached with the old role.

ALTER USER user SET DEFAULT_WAREHOUSE = 'new wh';

[2021-03-25 16:38] ssegal100 commented on #23
@howardnguyen1211 Thanks.
If this happens in the future, or if you need to change the role that is being used for login, you can right click on the tabs at the bottom of the worksheet and select Unhide:
![image](https://user-images.githubusercontent.com/13276366/112509307-58220980-8d5e-11eb-8e37-7932d19b0ad6.png)

Select the SnowflakeConfig worksheet. On this worksheet you can now change the Role

[2021-03-25 16:44] howardnguyen1211 commented on #23
Nice! Thanks for letting me know that.

[2021-05-19 12:11] #16 closed

[2021-05-19 12:12] #4 closed

[2021-05-19 12:43] GouriprasadMP commented on #16
Hi Steve,
Yes ,pl close it.Thanks a ton

On Tue, Mar 23, 2021 at 9:01 PM Steven Segal ***@***.***>
wrote:

--
<https://bottr.me/gouriprasad?utm_source=emailSignature>

Gouri Prasad

@gouriprasad <https://bottr.me/gouriprasad?utm_source=emailSignature>

[2021-05-24 07:04] TonyGaul commented on #13
@ssegal100 I did give this some thought and attempted something which leverages Excel functions and your VBA.  Just an idea anyway and probably should be beautified, maybe have its own button, perhaps less restrictive data types added (like Text instead of Varchar(n) ) & tested.

So I've modified 2 sub routines and added 1 function.  The data type logic & profiling will run when the Define Data Ty

[2021-05-27 12:32] ssegal100 commented on #13
@TonyGaul Thank you!
I will dig into it.

[2021-05-27 22:40] TonyGaul commented on #13
Thanks!  I have probably overcomplicated things, but am sure you'll find a good solution.

From: Steven Segal ***@***.***>
Sent: Thursday, 27 May 2021 10:32 PM
To: Snowflake-Labs/Excelerator ***@***.***>
Cc: TonyGaul ***@***.***>; Mention ***@***.***>
Subject: Re: [Snowflake-Labs/Excelerator] One option missing in Excelerator For Snowflake (#13)

@TonyGaul<https://apac01.safelinks.protection.outlo

[2021-07-19 07:59] IraitzM opened #24 "Connection error"
Could be my thing only but I keep on having a connection issue due to SSL/SSH (see attached error). ODBC and Snowflake account seem to be fine, any hints?

<img width="204" alt="screenshot" src="https://user-images.githubusercontent.com/7746536/126123960-fbb323e4-b57b-4175-8f77-282fa6d0f787.PNG">

Thanks in advance!

[2021-08-16 17:51] ssegal100 commented on #24
@IraitzM Sorry for the delayed response. Is this still occuring?

[2021-08-16 18:29] IraitzM commented on #24
Thanks for responding @ssegal100. Actually, it seems had something to do with the PC I was using 'cause using a different device it just worked. Probably the antivirus, will try to debug and find the error just in case it can be solved. Thanks anyways!

[2021-08-16 19:01] ssegal100 commented on #24
Thanks @IraitzM.

[2021-09-24 21:31] chandusripathi opened #25 "Excelerator as COM Add In"
Hi Team

Can you please let us know if the Excelerator has COM Add in version instead of Excel Add in

[2021-09-24 21:48] trlinton commented on #25
Not at this time.  Something we have discussed for the future.

On Fri, Sep 24, 2021, 4:31 PM chandusripathi ***@***.***>
wrote:

[2021-09-24 22:01] chandusripathi commented on #25
Thank you Team for the confirmation.

[2021-10-15 08:16] jfjurw opened #26 "Manually set http proxy"
Hi team !
It's working to specify a proxy in ODBC connexion but do you have guideline to **manually** set proxy in Excelerator ?

[2021-10-15 11:21] ssegal100 commented on #26
Hello. We don't have that built in yet. Are you looking for a field on the connection dialog to enter your host:port as the proxy server?
I can add it but I'm not able to test it. If I showed you how to hard code this information into your connection, would you be able to make the change to th VBA code? It should be a simple change. If that works I can add the field to the connection dialog.
Steve

[2021-10-19 12:49] miro-licek opened #27 "Support encryption key size 256"
After we have updated [CLIENT_ENCRYPTION_KEY_SIZE](https://docs.snowflake.com/en/sql-reference/parameters.html#client-encryption-key-size) to 256 (from 128 default) users were not able to decrypt data from stage when using Excelerator. All other tools work well. According to documentation change could have affected only JDBC drivers, not ODBC.
the actual error message from SF logs is: "Failed to d

[2021-10-20 11:39] #25 closed

[2021-11-08 16:55] KattaRci opened #28 "Excelarator Add-in crashing when trying to use upload feature"
When I try to use Excelerator upload feature, it crashes my excel and reloads it. I have traced it back and it goes as far as creating a  temporary stage and the put command in snowflake. but doesn't really put the file in the temporary stage or load the data to the snowflake table.

[2021-11-08 17:08] ssegal100 commented on #28
I believe you are using Excel 2013 correct? If so is there someone else that can try with a newer version?
When you like at the History in Snowflake, is the 'Put' command the last thing you see?
Steve

[2021-11-08 17:54] KattaRci commented on #28
Most of us have Excel 2013 as a standard, but i can ask around and see if someone has a different version.
Yes, out command is the last successful command as it shows in History
Amar

[2021-11-08 21:50] ssegal100 commented on #28
Would you increase the log level for the ODBC driver and upload the log files. The details can be found here:
https://community.snowflake.com/s/article/How-to-generate-log-file-on-Snowflake-connectors#ODBC

[2021-11-09 22:25] KattaRci commented on #28
I had one of my team member try the addin on excel 2016 and he was able to get little further than we were able to. He was getting all sorts of column and key issues while updating

[2021-11-09 23:14] ssegal100 commented on #28
Let me know if you want to review the errors your colleague is getting.
About your error, it looks like it will be a 2013 issue, but if there is anything in the odbc error logs, that might help also.

[2021-11-10 16:37] KattaRci commented on #28
Sure, for 2016, let us know when you are available and I can have Bijo from my team join a session to work out the issues

[2021-11-10 16:37] KattaRci commented on #28
I will send you the log details from 2013 as well in  a little bit

[2021-11-12 21:19] KattaRci commented on #28
Here are the logs from excel 2013 32-bit run...

[2021-11-12 21:21] KattaRci commented on #28
files

[2021-11-12 21:22] KattaRci commented on #28
Hi Steven, not sure if you received the log files as I do not see a upload button after attaching the files

[2021-11-12 23:45] ssegal100 commented on #28
No I didn't get it. Try again and if I don't get it I'll send you my email.

[2021-11-12 23:48] KattaRci commented on #28
No I wasn’t able to upload. Please share your email and I can share the details

From: Steven Segal ***@***.***
Sent: Friday, November 12, 2021 6:45 PM
To: Snowflake-Labs/Excelerator ***@***.***>
Cc: Katta, Amarender ***@***.***>; State change ***@***.***>
Subject: Re: [Snowflake-Labs/Excelerator] Excelarator Add-in crashing when trying to use upload feature (Issue #28)

This e-mail is from an ext

[2021-11-12 23:49] KattaRci commented on #28
no I am not able to upload. Tried it again. Please share your email

[2021-11-13 00:05] ssegal100 commented on #28
steven.segal@snowflake.com

[2021-11-15 21:07] ssegal100 commented on #27
@miro-licek Did you open a support ticket and was it resolved?
Thanks.

[2021-11-15 21:14] miro-licek commented on #27
Thx for following up. It was connected with encryption key size . When we extended it to 256 it affected loading into stage with ODBC which it shouldn't. We are following up with SF support. You can close this issue on your side. Thx

[2021-11-15 21:40] #27 closed

[2021-11-15 22:08] ssegal100 commented on #28
@KattaRci Thank you for sending the logs. I'm seeing 3 items:
1 - Crashing after the PUT command. There is nothing in the log files that is helping me. We haven't tested in with Excel 2013 so I would recommend upgrading if possible.
2 - "Check file key and master key" error. Jason will work with you on this one. You will have to open up a ticket with Snowflake Support. While the Excelerator is not

[2021-11-16 12:58] KattaRci commented on #28
Thanks Steven.

We will work with Jason on option#2 and give it a try.

We also sent the 2016 logs to Jason and think we are close. Is it something you are someone can help us identify the issue and fix it.

@Bijo, can you have Alka or Sabith try the below in 2013 and see if these help.

-Amar

From: Steven Segal ***@***.***
Sent: Monday, November 15, 2021 5:08 PM
To: Snowflake-Labs/Excelerator **

[2021-11-16 13:03] ssegal100 commented on #28
@KattaRci From the documents you sent, it looks like #2 and #3 are from the 2016 version. Is that not the case?

[2021-11-17 14:52] KattaRci commented on #28
Jason, can we setup a quick 30mins call to go over #2 and #3 so we can get this resolved.

-Amar

From: Katta, Amarender
Sent: Tuesday, November 16, 2021 7:59 AM
To: Snowflake-Labs/Excelerator ***@***.***>; Snowflake-Labs/Excelerator ***@***.***>
Cc: Mention ***@***.***>; Jason Merenda ***@***.***>; James, Bijo ***@***.***>; Singh, Alka ***@***.***>
Subject: RE: [Snowflake-Labs/Excelerator] Excela

[2021-11-17 14:54] KattaRci commented on #28
We have sent two sets of emails, one was from 2013 excel and other was 2016. Let me know if you want me to resend them.

-Amar

From: Steven Segal ***@***.***
Sent: Tuesday, November 16, 2021 8:04 AM
To: Snowflake-Labs/Excelerator ***@***.***>
Cc: Katta, Amarender ***@***.***>; Mention ***@***.***>
Subject: Re: [Snowflake-Labs/Excelerator] Excelarator Add-in crashing when trying to use upload feat

[2021-11-17 15:05] KattaRci commented on #28
Sure. How about 3:00 EST?

For 2. If the log files that you sent have that error then you can open a
case and add those log files to them. But Support will want the ODBC log
for sure.

For 3. You should see a button in the Excel ribbon. Click that button and
you will see row 1 appear that will let you define the data types on the
columns.

As an aside I also asked Steven about your stages question

[2021-11-17 15:39] KattaRci commented on #28
Yes, Bijo tried #3 and now he is running into #2 error(Check file key and master key). Bijo works out of India office, so 3pm EST might be late night for him. Can we do little earlier.

From: Jason Merenda ***@***.***
Sent: Wednesday, November 17, 2021 10:05 AM
To: Katta, Amarender ***@***.***>
Cc: Snowflake-Labs/Excelerator ***@***.***>; Snowflake-Labs/Excelerator ***@***.***>; Mention ***@***.**

[2021-11-17 15:40] KattaRci commented on #28
Yeah that will difficult for him. How about 9:00 AM tomorrow?

On Wed, Nov 17, 2021 at 10:39 AM Katta, Amarender <
***@***.***> wrote:

--
Jason merenda
Senior Sales Engineer
MOBILE  +1 813 842 4295
EMAIL  ***@***.***

Snowflake Inc.
Tampa, FL

[2021-11-17 15:44] KattaRci commented on #28
Bijo might be out in the evening(IST) tomorrow. Bijo, can you let us know what might work for you(tomorrow or Friday)

-Amar

From: Jason Merenda ***@***.***
Sent: Wednesday, November 17, 2021 10:41 AM
To: Katta, Amarender ***@***.***>
Cc: Snowflake-Labs/Excelerator ***@***.***>; Snowflake-Labs/Excelerator ***@***.***>; Mention ***@***.***>; James, Bijo ***@***.***>; Singh, Alka ***@***.***>
Subje

[2021-11-17 16:33] ssegal100 commented on #28
You won't be able to insert or update any data from the ODBC driver until #2 is fixed. So looks like you solved the issue from #3 but #2 is preventing you from completing it.
A Snowflake support ticket will need to be opened to solve this one.

[2021-11-17 16:34] KattaRci commented on #28
Hi Jason,
                I am fine with Friday 9AM EST.

Thanks,

Bijo James
Manager - Data Engineering
C: +91 9986573431
***@***.******@***.***>

RCI India
Pine Valley, First Level, Embassy Golf Links Business Park,
Off Intermediate Ring Road, Bengaluru, Karnataka 560071
***@***.***<new%20logo>

From: Katta, Amarender ***@***.***>
Sent: 17 November 2021 21:14
To: Jason Merenda ***@***.***>
Cc: S

[2021-11-17 16:41] KattaRci commented on #28
Sure Steven. Bijo is working on opening the support ticket. Will forward you the ticket# once we have it.

From: Steven Segal ***@***.***
Sent: Wednesday, November 17, 2021 11:34 AM
To: Snowflake-Labs/Excelerator ***@***.***>
Cc: Katta, Amarender ***@***.***>; Mention ***@***.***>
Subject: Re: [Snowflake-Labs/Excelerator] Excelarator Add-in crashing when trying to use upload feature (Issue #28)

T

[2021-11-17 16:55] KattaRci commented on #28
Here’s the support ticket# 00284970

From: Katta, Amarender
Sent: Wednesday, November 17, 2021 11:41 AM
To: Snowflake-Labs/Excelerator ***@***.***>; Snowflake-Labs/Excelerator ***@***.***>
Cc: Mention ***@***.***>; James, Bijo ***@***.***>
Subject: RE: [Snowflake-Labs/Excelerator] Excelarator Add-in crashing when trying to use upload feature (Issue #28)

Sure Steven. Bijo is working on opening the

[2021-11-17 17:46] KattaRci commented on #28
I am sorry to ask you guys this but does 8:30 work on Friday?

On Wed, Nov 17, 2021 at 11:34 AM James, Bijo <
***@***.***> wrote:

--
Jason merenda
Senior Sales Engineer
MOBILE  +1 813 842 4295
EMAIL  ***@***.***

Snowflake Inc.
Tampa, FL

[2021-11-17 18:13] KattaRci commented on #28
Yes, 8:30 am est works for us.

From: Jason Merenda ***@***.***
Sent: Wednesday, November 17, 2021 12:46 PM
To: James, Bijo ***@***.***>
Cc: Katta, Amarender ***@***.***>; Snowflake-Labs/Excelerator ***@***.***>; Snowflake-Labs/Excelerator ***@***.***>; Mention ***@***.***>; Singh, Alka ***@***.***>
Subject: Re: [Snowflake-Labs/Excelerator] Excelarator Add-in crashing when trying to use upload fea

[2021-11-24 13:44] sfc-gh-wriley opened #29 "JSON(variant) & BINARY data type support"
I notice that when ingesting data, VARIANT & BINARY data types are not ingested... is there any workaround or anything you could suggest for being able to do this?

[2021-11-24 14:06] ssegal100 commented on #29
I'm a little surprised that doesn't work. Would you upload a sample copy of the spreadsheet with dummy data. I don't recall testing that, but I'm not sure what it doesn't work.

[2021-11-24 14:09] sfc-gh-wriley commented on #29
Sure - I've not tested upload, but was downloading data from two tables
(one with binary, the other with Variant/json).

No data was returned to Excel for both columns

Regards,

Will
Will RILEY
Solutions Architect

MOBILE  +447966939179
EMAIL  ***@***.***

Snowflake Inc.
207 Old Street
London, EC1V 9NR, United Kingdom

On Wed, 24 Nov 2021 at 14:06, Steven Segal ***@***.***> wrote:

[2021-11-24 14:14] ssegal100 commented on #29
Oh I see. I'll take a look.

On Wed, Nov 24, 2021 at 8:09 AM Will Riley ***@***.***> wrote:

[2021-11-24 14:18] sfc-gh-wriley commented on #29
I've pinged you the details internally on Slack ;-)

[2022-01-19 17:24] mcupo-calix opened #30 "Toolbar options revert to read-only ("upload" button disappears)"
The add-in keeps reverting to the "read only" version. That is, even though I downloaded the .xlam file for the full version of the add-in, excel only displays the "Query" button in the Home toolbar, not the "Upload" button.

I haven't found any pattern to when this happens or steps to reproduce - except that it inevitably does after a couple uses. This has occured on two different machines.

![Mi

[2022-01-19 17:35] mcupo-calix commented on #30
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB4QAAAD4CAYAAAAEn1ueAAAgAElEQVR4Aey9adQVRZou2j/u37tun7X6x13n3HP/1F2rz+p1bp97z6m2q8pyLgUHHLEoEJECREsRxUIERAU+ZPhABAeKwZGiHHHAoQoVmUGociwVUdRywlLRrj7V51b3On/eu578ePcXO76IzMjMyL1z7/3stWJHZgxvvPHGE5GR8WRk/tXf//3fCx1tQAwQA8QAMUAMEAPEADHQ7Rg47rjj5OSTT6ajDYgBYoAYIAaIgR7HwAknnMC1MK4HEgPEADFADBADxAAxQAx0LAZOG3ad5HV/1e0Lf6wfF7eJAWKAGCAGiAFigBggBoCBf/iH

[2022-01-19 17:35] mcupo-calix commented on #30
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB4QAAAD4CAYAAAAEn1ueAAAgAElEQVR4Aey9adQVRZou2j/u37tun7X6x13n3HP/1F2rz+p1bp97z6m2q8pyLgUHHLEoEJECREsRxUIERAU+ZPhABAeKwZGiHHHAoQoVmUGociwVUdRywlLRrj7V51b3On/eu578ePcXO76IzMjMyL1z7/3stWJHZgxvvPHGE5GR8WRk/tXf//3fCx1tQAwQA8QAMUAMEAPEADHQ7Rg47rjj5OSTT6ajDYgBYoAYIAaIgR7HwAknnMC1MK4HEgPEADFADBADxAAxQAx0LAZOG3ad5HV/1e0Lf6wfF7eJAWKAGCAGiAFigBggBoCBf/iH

[2022-01-19 17:36] ssegal100 commented on #30
@mcupo-calix I would uninstall/delete the addin files. Find out where you downloaded them and also where it copied it to when installing. Once it's completely gone, install the full version.
Let me know if that helps.

[2022-01-19 17:53] mcupo-calix commented on #30
@ssegal100 Thanks for the fast response. I have tried a full reinstall a couple times (also have tried putting the .msal directly into ./Excel/XLSTART) but the issue keeps occurring. I made sure to follow the installation steps as listed here: https://exceloffthegrid.com/install-uninstall-excel-add/ including "unblocking" the add-in.

While a full reinstallation does seem to temporarily fix the is

[2022-01-21 21:29] ssegal100 commented on #30
@mcupo-calix Is the read-only version of the addin anywhere on your laptop?
I don't really see how it can use the read-only version if it's not even downloaded.
This is a strange one!

[2022-01-24 19:39] mcupo-calix commented on #30
@ssegal100 Looks like it has something to do with the VBA code not working. I do know what all these methods do exactly, but some of the sub names in this module sound very closely related to what I am seeing: https://github.com/Snowflake-Labs/Excelerator/blob/master/src/RibbonModule.bas

Also got this error recently:

![image](https://user-images.githubusercontent.com/68437935/150852356-3c1aba0c-

[2022-01-24 20:59] ssegal100 commented on #30
@mcupo-calix Ahh good catch. Would you unhide the SnowflakeConfig worksheet by right clicking on the bottom tabs and click 'Unhide'. Then in the pop-up select 'SnowflakeConfig'.
![image](https://user-images.githubusercontent.com/13276366/150863131-d5a243a0-6516-4d85-b41d-0434bf769170.png)
This sheet contains some of the configs to drive Excelerator.
What is the last value, 'ReadOnly'? It should be

[2022-01-24 21:59] ssegal100 commented on #30
@mcupo-calix If the above value is 'FALSE' and you are not seeing all the buttons, then we will need to step through the executing code.
Open the 'RibbonModule'. In the EnableControl sub-routine, add 'Stop' as the first line as seen below.
Step through the code by clicking the F8 key. The value returned by the Sub should be 'True' for all buttons.
![image](https://user-images.githubusercontent.com

[2022-01-25 18:28] mcupo-calix commented on #30
@ssegal100 I did confirm that the "ReadOnly" variable on the SnowflakeConfig tab was set to TRUE for some reason. That must be part of what is causing the issue, though I don't know what could have caused that value to switch.

[2022-01-25 18:52] ssegal100 commented on #30
@mcupo-calix Did you ever install the read-only version?
Let me know if it reoccurs after you shut it down and reopen a workbook or if you open a new one.

[2022-01-25 21:26] mcupo-calix commented on #30
@ssegal100 I have been seeing this issue on a colleague's computer that I know for sure has never had the ReadOnly version installed.

One observation is that when I disable/delete the add-in, the SnowflakeConfig, SnowflakeWorkbookParams sheets don't get deleted. To do a *full refresh*, I tried deleteing all instances of the .xlam, deleting those worksheets, and then redownloaded and installed the

[2022-01-26 03:45] ssegal100 commented on #30
@mcupo-calix By any chance do you send your colleague a workbook to use?
The last item you mentioned is behaving like the 'unblock' step wasn't done. When you redownload the file it needs to be unblocked.
Could that be it?

[2022-01-26 15:37] mcupo-calix commented on #30
@ssegal100 I did send my coworker the workbook, so maybe they inherited my ReadOnly=TRUE version of the SnowflakeConfig tab?

Ah yes, you are correct about the "unblock" step. Apologies.

[2022-01-26 17:45] ssegal100 commented on #30
@mcupo-calix Yes I believe that is what happened.
Sounds like we have it figured out, right?
I think I will have to work on the behavior when you install the read/write addon after the read only one.

[2022-01-26 20:38] mcupo-calix commented on #30
@ssegal100 I think so yeah! I'll close the issue, and keep an eye out if you push merge any changes.

Thanks for your help.

[2022-01-26 20:38] #30 closed

[2022-06-10 21:11] troywinsett opened #32 "Errors when trying to change the database on upload or query in Snowflake Excelerator"
When trying to upload data or even query data in Excel, it prompts me for the database change.  I make the change and it asks me to log in again.  I do that and get the error message below (must close or hide topmost modal form first).

![image](https://user-images.githubusercontent.com/107204017/173151344-5008dfbd-cd93-483b-b231-35e2e6d62796.png)
<img width="897" alt="Snowflake Excel Error" src="

[2022-06-10 21:59] ssegal100 commented on #32
Hey Troy. I haven't seen this issue before but I'm happy to help out.
The first thing I notice that's off is the name of the schema, it's blank, but the table has 'Test' in it. Any idea on what's going on there? Did you enter 'Test' for the table?
Does the user you're logged in with have access the schemas in the DB that you selected?

[2022-06-13 14:55] e16e commented on #32
@ssegal100 I'm the Snowflake SE working with Troy, and he shared his screen with me when he experienced this error (repeatedly).

There is a default db, schema, and table selected when he's prompted to authenticate. This appears to be the first db alphabetically in the account.

Troy then selects the db, "DEMAND_SPREADSHEETS," he's prompted to authenticate again, which is successful. Troy's user a

[2022-07-20 08:57] nicolasCreff commented on #32
I have the same since one day.
It was working well before.
(i work in sysadmin)

[2022-07-20 12:05] ssegal100 commented on #32
@nicolasCreff Did anything change in your environment? Was your operating system or Office/Excel version upgraded?

[2022-07-20 12:12] nicolasCreff commented on #32
Yes i got an update of environment but i don't know what changed.
I will try to look later, i have not infinite time to understand the pb.
(i try to remove temp folder and to download again ).
I tried to put a query directly a got a strange result

[2022-08-08 06:04] MeghanaKashyap opened #33 "Snowflake excel add-in not working"
Connection initialization is failing with the following error message.
<img width="342" alt="connection issue" src="https://user-images.githubusercontent.com/44397381/183349975-7db4be44-a53c-4d16-bc86-7b0bfc1bd76e.PNG">

[2022-08-08 13:26] ssegal100 commented on #33
Would you please describe all the steps prior to this error?
Also, would you look in the History tab of the Snowflake UI and let me know the last few queries executed and the one that is causing this error.

[2022-08-11 16:57] Skeewee commented on #26
Hello @ssegal100 and Team!

Great tool you guys put together. :)

We're in a similar situation where we need to use the proxy.
Saw your last comment about adding it to the UI and wondered if you would have some time for that.

Thanks!

[2022-08-11 22:23] Skeewee commented on #26
Added proxy support on [my fork](https://github.com/Skeewee/Excelerator).

[2022-08-18 04:20] RaghuveerPendyala commented on #33
I ran into a similar issue and below are the queries that got executed
![image](https://user-images.githubusercontent.com/78722648/185292383-0337a9d0-7e40-4126-8026-c0cef6ca5927.png)

Looks like  we are getting two additional columns when executing show databases which is causing this failure

[2022-08-18 12:38] ssegal100 commented on #33
@RaghuveerPendyala @MeghanaKashyap
Would you please show me the output of:
show databases;
show terse databases;

If you are getting different columns then maybe I'll have to switch to use 'show terse databases;'.
I don't know why it would be different though.
Thanks.

[2022-08-18 14:59] nicolasCreff commented on #32
Hi,
For me it's working again don't know why.
But in setting proxy it's work& ";proxy=<host>:<port>;"
But before it's was like if the complement was in read only or like if the security get activate again.

[2022-08-18 16:19] RaghuveerPendyala commented on #33
Show database :
![image](https://user-images.githubusercontent.com/78722648/185442586-90dc94a7-bb37-44cd-8088-5344e61cee50.png)
show terse database :
![image](https://user-images.githubusercontent.com/78722648/185442723-35a735e8-bf94-4cb9-996b-d72b1d5deacd.png)

I tried doing a quick check using show terse database and even it has mismatch of count of columns
![image](https://user-images.githubuse

[2022-08-18 16:33] ssegal100 commented on #33
@RaghuveerPendyala Yes that is the best solution.
Thank you!
I'm going to hunt down the reason for the last 2 columns from showing up. I've never seen them before. But you are right, I will just pull the 'name' column only.

[2022-09-13 16:12] cailleba opened #34 "Add a refresh button to refresh the catalog stored in excel"
On manual table creation the only way to update the catalog in excel is to close excel and restart from scratch.
A refresh button on the Excecute SQL window will be handy.

[2022-09-22 13:18] ssegal100 commented on #34
There is a refresh button under when you click on the Config button in the ribbon. That flushes all lists. Let me know if that works.

[2022-09-27 00:33] ssegal100 commented on #33
@RaghuveerPendyala I've uploaded a version with the changes to the query. Please test and close this issue if it's working properly.
The reason that this is an issue is that the Show Databases command returns different columns based on if certain features are enabled in the Snowflake account.

[2022-09-27 02:40] RaghuveerPendyala commented on #33
Thanks @ssegal100 , I can confirm fix is working for me

[2022-09-28 07:51] SSbelator opened #35 "Upload - problem"
resolved

[2022-09-28 08:17] #33 closed

[2022-09-28 08:18] MeghanaKashyap commented on #33
Thank you so much for fixing this indeed a great help! 👍  @ssegal100

[2022-10-12 09:38] #34 closed

[2022-11-07 20:32] javaguy44 opened #36 "How to build + contribute?"
Hi, I'd like to be able to build from source and possibly create a PR for improving

I cloned the repo but since there isn't a VS solution, I'm not sure how to compile?

Would appreciate build instructions so I can contribute

Thanks

[2022-11-11 15:27] ssegal100 commented on #36
@javaguy44 It would be great if could contribute. I've added a Build Guide to the repo. Please take a look at it.
VBA does not compile and the process for code control is tricky and not standard. I've created a 'src' directory where the code is exported to.
Let me know if you have any questions. Would love to have you contribute.
Thanks!